body {
    margin: 0;
    font-family: Monospace, Ludica-Console;
    background: linear-gradient(to bottom, #daeff5, #87ceeb);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container {
    text-align: center;
}

img {
  border-radius: 60%;
  width: 55%;
}

.enter-button:hover {
  opacity: 0.5;
}

.enter-button {
    padding: 15px 30px;
    background-color: #2980b9;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1.5rem;
    cursor: pointer;
    font-family: Monospace, Ludica-Console;
}

.container {
    font-size: 130%;
}